<ng-container *ngIf="events">
  <div class="event-container">
    <p class="event-count" *ngIf="events.length">Found {{ events.length }} events:</p>
    
    <div class="event-card" *ngFor="let event of events">
      <h3>{{ event.name }}</h3>
      <div class="event-details">
        Date: {{ event.dates?.start?.localDate | date }}<br />
        Time: {{ event.dates?.start?.localTime }}<br />
        Venue: {{ event._embedded?.venues[0]?.name }}, {{ event._embedded?.venues[0]?.city?.name }}
      </div>
    </div>

    <div class="no-events" *ngIf="!events.length">
      No events found.
    </div>
  </div>
</ng-container>